* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}



.container {
   display: flex;
}

.image-section {
    flex: 1 0 30%;
}

.form-section {
    flex: 1 0 70%;
}