* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

input {
    font-family: inherit;
    font-size: 100%;
    appearance: none;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

input:focus {
    border-color: #4277e9;
}

.container {
   display: flex;
   height: 100vh;
}

.image-section {
    flex: 1 0 35%;
    background: url('./images/the-iop-unsplash.png');
    background-size: 100% 100%;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 6rem;
    padding: 0.8rem 0;
    background-color: hsla(214, 82%, 48%, 0.7);
}

#site-logo {
    width: 80px;
    height: 80px;
}

#logo-text {
    color: #ffffff;
    font-size: 2rem;
}

.form-section {
    flex: 1 0 65%;
}

.pitch-text-div {
    font-size: 1.2rem;
    margin: 8rem 0 2rem 0;
    padding: 0 2rem;
}

